[submodule "Timefall/vendor/spdlog"]
	path = Timefall/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Timefall/vendor/imgui"]
	path = Timefall/vendor/imgui
	url = https://github.com/AhmedYAbbas/imgui
