[submodule "Timefall/vendor/spdlog"]
	path = Timefall/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Timefall/vendor/GLFW"]
	path = Timefall/vendor/GLFW
	url = https://github.com/AhmedYAbbas/glfw
